/* Global styles */
body {
 font-family: 'Calibri', Arial;
 font-size: 14px;
 color:#444;
 margin:0;
 padding:0;
}
a {
 text-decoration: none;
 color:#e65100;
}
.container {
 width: 90%;
 margin:0 auto;
}
header {
 width:100%;
 height: auto;
 margin:0 auto;
 position: fixed;
 top:0;
 z-index: 1;
}

.nav-pills > li.active > a, .nav > li > a:hover, .nav > li > a:focus, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #e65100 !important;
  color: #fff !important;
}


.nav > .logo > a:hover,  .nav > .logo > a:focus {
 color: #000 !important;
 text-decoration: none;
  background: none !important;
}

.nav > .logo > a {
  color:#000 !important;
}
section {
 min-height:350px;
}
.header-top {
 width:100%;
 background: #000;
 color:#e0e0e0;
 padding: 10px 0;
 display:inline-block;
}
.header-top ul {
 display:inline-block;
 margin:0;
 padding:0;
}
.header-top ul li{
 float:left;
 padding:0 15px;
 display:inline-block;
 border-left:#e0e0e0 solid 1px;
}
.header-top ul li:first-child {
 border-left:0;
 padding-left:0;
}
.header-top ul li a {
 color:#e0e0e0;
 text-decoration: none;
}
.header-top ul li a:hover {
 color: #fff;
}
.header-top-left {
 width:50%;
 float:left;
 text-align:left;
}
.header-top-right {
 width:50%;
 float:left;
 text-align:right;
}
.header-top-right ul li:last-child {
 padding-right:0;
}
.header-middle {
 width:100%;
 margin:0 auto;
 padding:15px 0;
 display:inline-block;
}
.logo {
 color: #000;
 text-transform: uppercase;
 font-size:25px;
 font-family:'Agency FB';
 font-weight:bold;
 float:left;
 padding-top: 7px !important;
 background: none !important;
}

.orange {
 color:#e65100;
}
.header-search {
 width:40%;
 float: right;
 margin-top:3px;
}
.header-search input[type="text"] {
 -webkit-border-top-left-radius: 20px;
 -webkit-border-bottom-left-radius: 20px;
 -moz-border-radius-topleft: 20px;
 -moz-border-radius-bottomleft: 20px;
 border-top-left-radius: 20px;
 border-bottom-left-radius: 20px;
 padding:10px;
 padding-left:15px;
 outline: none;
 border:#e0e0e0 solid 1px;
 float:left;
 width:78%;
 -webkit-box-shadow:inset 0 0 10px #E8E8E8;
 -moz-box-shadow:inset 0 0 10px #E8E8E8;
 box-shadow:inset 0 0 10px #E8E8E8;
 background: transparent;
}
.header-search input[type="submit"] {
 -webkit-border-radius: 0 20px 20px 0;
border-radius: 0 20px 20px 0;
border:0;
padding:11px;
margin:0;
float:left;
outline:none;
cursor:pointer;
background: url("../images/search-icon.png") no-repeat #e65100 39% 50%;
width:15%;
}
.header-bottom {
 width:100%;
 margin: 0 auto;
}
.main-menu {
 width:100%;
 background: #9e9e9e;
 display:inline-block;
}
.main-menu ul {
 margin:0;
 padding:0;
}
.main-menu ul li{
 float:left;
 display:inline-block;
 background: url("../images/menu-divider.png") no-repeat left;
 position:relative;
}
.main-menu ul li:first-child {
 background: none;
}
.main-menu ul li a {
  font-size: 13px;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
}
.main-menu ul li a:hover {
 background:#bdbdbd;
 color:#e65100;
 border-top: #e65100 solid 4px;
 margin-top:-4px;
}
.main-menu ul li a.active {
 background:#e65100;
 border-top: #e65100 solid 4px;
 margin-top:-4px;
}
.main-menu ul li a:hover.active {
 color:#fff;
}
.main-menu ul li ul {
 display:none;
 background: #efefef;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}
.main-menu  ul li:hover ul {
 display:block;
 position: absolute;
 width: 200px;
 top:49px;
}
.main-menu  ul li ul .arrow {
 width: 0;
 height: 0;
 border-left: 7px solid transparent;
 border-right: 7px solid transparent;
 border-bottom: 10px solid #efefef;
 position:absolute;
 top:-10px;
 left:20px;
}
.main-menu ul li ul li {
 padding:0;
 background:none;
 width:100%;
 border-top:#e1e1e1 solid 1px;
}
.main-menu ul li ul li.first-child {
 border-top:0;
}
.main-menu  ul li ul li a {
 padding:7px 15px;
 color:#444;
 width:100%;
}
.main-menu  ul li ul li a:hover {
 background:none;
 border-top:0;
 margin-top:0;
}
.sub-menu {
 background:#e0e0e0;
 margin:0;
 display:inline-block;
 width:100%;
}
.sub-menu ul {
 margin:0;
 padding:7px 0 3px;
 display:inline-block;
}
.sub-menu ul li {
 float:left;
 display:inline-block;
 padding: 0 15px;
 border-left: #444 solid 1px;
}
.sub-menu ul li:first-child {
 border-left:0;
}
.sub-menu ul li a {
 color:#444;
 font-size:16px;
 text-decoration: none;
 cursor: pointer;
 font-weight: bold;
}
.sub-menu ul li.active a, .sub-menu ul li:hover a {
 color:#e65100;
}
h2 {
 border-bottom:#aaaaaa solid 1px;
 text-transform: uppercase;
 font-size:24px;
}
h3 {
 border-bottom:#aaaaaa solid 1px;
 font-size:18px;
}
.left-col h3, .right-col h3 {
 margin-top:0;
}
.heading-bottom {
 border-bottom:#e65100 solid 3px;
 display:inline-block;
 margin-bottom:-1px;
}
.two-col {
 width:100%;
 margin:0 auto;
 display:inline-block;
}
.two-col .left-col {
 width:48%;
 padding-right:2%;
 float:left;
}
.two-col .right-col {
 width:48%;
 padding-left:2%;
 float:left;
}
label {
 text-align:right;
 line-height:30px;
 font-size:16px;
 font-weight:bold;
}
input[type="text"],input[type="password"], select {
 padding: 7px;
 padding-left: 10px;	
 border: 1px solid #E8E8E8;
 -webkit-box-shadow:inset 0 0 10px #E8E8E8;
 -moz-box-shadow:inset 0 0 10px #E8E8E8;
 box-shadow:inset 0 0 10px #E8E8E8;
 background: transparent;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 outline:none;
}
input[type="button"].gray-button {
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 padding:10px 25px;
 outline: none;
 background:#e0e0e0;
 color:#444;
 border:0;
 text-transform: uppercase;
 font-weight:bold;
 font-size:16px;
 cursor:pointer;
}
input[type="button"].orange-button {
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 padding:10px 25px;
 outline: none;
 background:#e65100;
 color:#fff;
 border:0;
 text-transform: uppercase;
 font-weight:bold;
 font-size:16px;
 cursor:pointer;
}
select {
 width:59%;
 padding:6px;
 padding-left:5px;
}
.row {
 margin:5px 0;
 display:inline-block;
 width:100%;
}
.two-col .left-col label, .two-col .right-col label {
 width:35%;
 float:left;
 padding-right:2%
}
.two-col .left-col input, .two-col .right-col input {
 width:55%;
 float:left;
}
.two-col .left-col input.datepicker, .two-col .right-col input.datepicker {
 width:130px;
 float:left;
}
img.ui-datepicker-trigger {
 margin-left:-35px;
 padding-top:5px;
 padding-bottom:5px;
 padding-left:8px;
 cursor: pointer;
 border-left:#e0e0e0 solid 1px;
  -webkit-box-shadow:inset 0 0 10px #e5e5e5;
 -moz-box-shadow:inset 0 0 10px #e5e5e5;
 box-shadow:inset 0 0 10px #e5e5e5;
 background: transparent;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
 background:#e65100;
 color:#fff;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
 background:#9e9e9e;
 color:#fff;
}
.ui-widget.ui-widget-content {
 z-index: 99 !important;
}
.home-address {
 padding:10px;
 font-size:18px;
 font-weight:bold;
 background:url("../images/address-icon.png") no-repeat #f4f4f4 98% 50%;
}
.toggle-container {
 width:100%;
 margin:0 auto;
 margin-top:20px;
 margin-bottom:10px;
}
#physician-details .toggle-container {
 width:75%;
 margin:0 auto;
}
.toggle-header {
 background:#f4f4f4;
 padding:7px 15px;
 margin-top:10px;
 margin-bottom:10px;
 cursor:pointer;
 display: inline-block;
 width: 100%;
}
.toggle-header a {
 font-size:18px;
 font-weight:bold;
 color:#444;
 float:left;
}
.toggle-header img {
 float:left;
 margin-top:5px;
 margin-right:10px;
}
.toggle-header img.rotate-down {
 -ms-transform: rotate(90deg); /* IE 9 */
 -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
 transform: rotate(90deg);
 -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.toggle-header img.rotate-right {
 -ms-transform: rotate(0deg); /* IE 9 */
 -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
 transform: rotate(0deg);
 -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.toggle-content {
 width:96%;
 margin:0 auto;
}
.align-right {
 float:right;
}
.align-right input[type="button"] {
 margin-left:10px;
}
.policy-file-name {
 width:100%;
}
.policy-file-view-button, .policy-file-delete-button, .facesheet-file-view-button, .facesheet-file-delete-button, .dea-file-view-button, .dea-file-delete-button, .medical-file-view-button, .medical-file-delete-button , .emp-file-view-button, .emp-file-delete-button{
 float:left;
 margin:10px 10px 10px 0;
}
.policy-file-view-button input, .policy-file-delete-button input, .facesheet-file-view-button input, .facesheet-file-delete-button input, .dea-file-view-button input, .dea-file-delete-button input, .medical-file-view-button input, .medical-file-delete-button input, .emp-file-view-button input, .emp-file-delete-button input {
 width:100% !important;
}
.fileupload {
 margin-bottom:20px;
}
/* Tab styles begin */
.tabs {
 width:100%;
display:inline-block; 
}
.tab-header {
 margin-bottom:15px;
}
.tab-header ul{
 width:100%;
 display:inline-block;
 margin:0;
 padding:0;
 border-bottom:#ddd solid 1px;
}
.tab-header li {
 width:auto;
 float:left;
 padding:12px 30px;
 border:#ddd solid 1px;
 display:inline-block;
 font-size:18px;
 background:#eee;
 margin:0 5px;
 -webkit-border-top-left-radius: 5px;
 -webkit-border-top-right-radius: 5px;
 -moz-border-radius-topleft: 5px;
 -moz-border-radius-topright: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 cursor:pointer;
 position:relative;
 bottom:-1px;
}
.tab-header li:first-child {
 margin-left:15px;
}
.tab-header li.active {
 background:#fff;
 border-bottom:0;
 margin-top:1px;
 z-index:99;
 font-weight:bold;
 bottom:-2px;
}
.tab-body > div {
 display:none;
}
.tab-body > div:first-child{
 display:block;
}
footer {
 background:#e0e0e0;
 text-align:center;
 padding:10px 0;
 margin-top:35px;
}

/* Custom Radio styles begin */
.radio ul{
  list-style: none;
  height: 100%;
  width: 55%;
  float:left;
  margin: 0;
  padding: 0;
}
.radio ul li{
  display: block;
  position: relative;
  float: left;
  width: auto;
  height: auto;
  margin-right: 15px;
}

.radio ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radio ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  padding: 0px 25px 5px 30px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.radio ul li:hover label{
	color: #444;
}

.radio ul li .check{
  display: block;
  position: absolute;
  border: 4px solid #AAAAAA;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 3px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
.radio ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 7px;
  width: 7px;
  top: 4px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
input[type=radio]:checked ~ .check {
  border: 3px solid #e65100;
}
input[type=radio]:checked ~ .check::before{
  background: #e65100;
}
/* Custom Radio Style End */


/* Status Dashboard Styles Begin */
.four-col {
 width:100%;
 margin:0 auto;
}
.four-col .col1 {
 width:23.5%;
 float:left;
 margin-right:2%;
}
.four-col .col2 {
 width:23.5%;
 float:left;
 margin-right:2%;
}
.four-col .col3 {
 width:23.5%;
 float:left;
 margin-right:2%;
}
.four-col .col4 {
 width:23.5%;
 float:left;
}
.three-col {
 width:100%;
 margin:0 auto;
}
.three-col .col1 {
 width:31.33333%;
 float:left;
 margin-right:3%;
}
.three-col .col2 {
 width:31.33333%;
 float:left;
 margin-right:3%;
}
.three-col .col3 {
 width:31.33333%;
 float:left;
}
.dashboard {
 color:#fff;
 height:120px;
 cursor: pointer;
 position:relative;
}
.dashboard a {
 color:#fff;
}
.light-blue {
 background:#10c2ee;
}
.light-green {
 background:#14a65b;
}
.light-orange {
 background:#f29a12;
}
.warning-red {
 background:#f36853;
}
.dashboard .top {
 width:100%;
 padding:10px 0;
 display:inline-block;
}
.dashboard .top-left {
 width:43%;
 float:left;
 margin-left:7%;
 font-weight:bold;
 color:#fff;
 text-align:left;
}
.dashboard .top-left .status-count {
 font-size:65px;
 line-height:55px;
}
.dashboard .top-left .status-count a {
  text-decoration: none;
}
.dashboard .status-name {
 font-size: 25px;
 text-align: center;
}
.dashboard .top-right {
 font-weight:bold;
 color:#fff;
 padding-right:7%;
}
.dashboard .top-right img {
 opacity:.3;
}
.dashboard .bottom {
 bottom:0;
 position:absolute;
 text-align:center;
 width:100%;
 display:inline-block;
}
.dashboard .bottom a {
 width:100%;
 padding:10px 0;
 display:inline-block;
 color:#fff;
 font-size:16px;
 font-weight:bold;
}
.dashboard.light-blue .bottom {
 background:#0fafd7;
}
.dashboard.light-green .bottom {
 background:#109651;
}
.dashboard.light-orange .bottom {
 background:#db8e2c;
}
.dashboard.warning-red .bottom {
 background:#dc5d4b;
}
.status-dashboard {
 width:100%;
 margin-top:30px;
}
table {
 width:100%;
 border-collapse: collapse;
}
table, table tr td, table tr th {
 border: 1px solid #e0e0e0;
}
table tr th {
 background:#e65100;
 color:#fff;
 font-size:16px;
}
table tr th, table tr td {
 padding:7px;
}
table tr:nth-child(even) {
 background-color: #f2f2f2;
}
.status-dashboard table {
 width:100%;
}
.status-dashboard table {
 border-collapse: collapse;
}
.status-dashboard table, .status-dashboard table tr td, .status-dashboard table tr th {
 border: 1px solid #e0e0e0;
}
.status-dashboard table tr th {
 background:#e65100;
 color:#fff;
 font-size:16px;
}
.status-dashboard table tr th, .status-dashboard table tr td {
 padding:7px;
}
.status-dashboard table tr:nth-child(even) {
 background-color: #f2f2f2;
}
.status-dashboard table tr td:last-child {
 width:60px;
}
.status-dashboard table tr.normal td:last-child {
 background:#14a65b;
}
/*.status-dashboard table tr.bf-warning td:last-child {
 background:#f29a12;
}
.status-dashboard table tr.warning td:last-child {
 background:#f36853;
}*/

.expired-color {
  background: #f36853;
}
.expires-soon-color {
    background: #f29a12;
}
/* Status Dashboard Styles End */


/* Human Resource List Styles begin */
.human-search-section label {
 width:100%;
 display:inline-block;
 text-align:left;
}
.human-search-section input[type="text"] {
 width:90%;
}
.human-search-section input[type="button"] {
 margin-top:-5px;
}
#human-resource-list {
 margin-top:30px;
}

/* Human Resource List Styles begin */

/* Login styles begin */
.login-pannel {
 width:50%;
 margin:0 auto;
 margin-top:80px;
}
.login-pannel label {
 width:38%;
 margin-right:2%;
 float:left;
}
.login-pannel input{
 width:50%;
 float:left;
}
/* Login styles begin */

@media(max-width:480px) {
  .container {
    width: 100% !important;
  }
  .logo {
    font-size: 20px;
    margin-top: 5px;
  }
  .two-col .left-col {
   width:100%;
  }
  .two-col .right-col {
   width:100%;
  }
}


* { box-sizing: border-box; margin: 0; padding: 0; }
div.menuwrap {
    position: relative;
    background-color: #ccc;
    height: 64px; overflow: visible;
}
ul.menu {
    height: 48px;
    overflow: hidden;
    
}
ul.menu > li {
    display: block; float: left; 
    height: auto; white-space: nowrap;
    padding: 4px 8px;
    padding-top: 12px;
}
ul.menu > li a {
     padding: 8px 15px;
}
ul.menu > .logo a {
     padding: 6px 15px;
}

ul.collect {
    position: absolute;
    right: 0; top: 0;
    padding: 10px 8px; 
    overflow: visible;
}
ul.collect ul.dropdown-menu { right: 0; left: auto; }
.upload-btn {
  margin-top: 10px; 
}

