<div layout="column" ng-cloak class="md-inline-form user-detail-view">
  <div class="loader-parent" ng-if="showLoader">
    <md-progress-circular class="main-loader" md-mode="determinate" value="{{locationsMore.determinateValue}}"></md-progress-circular>
  </div>
  <md-content layout-padding>
    <div class="container" style="width:70%; margin: 0 auto; background: #fff;">
      <h5 style="color: #4CAF50;">LOCATION</h5>
      <br>
      <form name="userForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Location Name</label>
            <input ng-model="locationsMore.locationsDetailsObj.locationName" ng-readonly="locationsMore.viewmode" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Street Address</label>
            <input ng-model="locationsMore.locationsDetailsObj.addressId.street" ng-readonly="locationsMore.viewmode" ng-required="true">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="locationsMore.locationsDetailsObj.addressId.city" ng-readonly="locationsMore.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Zip Code</label>
            <input ng-model="locationsMore.locationsDetailsObj.addressId.zip" ng-readonly="locationsMore.viewmode">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="locationsMore.locationsDetailsObj.addressId.state" ng-disabled="locationsMore.viewmode">
              <md-option ng-repeat="state in locationsMore.states" ng-value="state.stateCode">
                {{state.stateName}}
              </md-option>
            </md-select>
          </md-input-container>
          <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
            <div>Status</div>
            <md-radio-group ng-model="locationsMore.locationsDetailsObj.status" ng-readonly="locationsMore.viewmode">
              <md-radio-button ng-value="true" style="margin-right:20px;">Active</md-radio-button>
              <md-radio-button ng-value="false">In Active</md-radio-button>
            </md-radio-group>
          </div>
        </div>
        <div layout-gt-sm="row" style="margin-top: 20px;">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Phone</label>
            <input type="number" ng-model="locationsMore.locationsDetailsObj.addressId.phone" ng-readonly="locationsMore.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Fax</label>
            <input ng-model="locationsMore.locationsDetailsObj.addressId.fax" ng-readonly="locationsMore.viewmode">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
           <md-input-container class="md-block" flex-gt-sm>
            <label>Note</label>
            <input ng-model="locationsMore.locationsDetailsObj.notes" ng-readonly="locationsMore.viewmode">
          </md-input-container>
        </div>
      </form>
      <div>
        <h5 style="border-bottom: 1px solid #ccc; color: #4CAF50;">ATTACHMENTS/REMAINDERS</h5>
        <form name="userForm" class="attachment-form" ng-show="locationsMore.attachmentCreateViewmode">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Short Description</label>
              <input ng-model="locationsMore.fileuploadObject.shortdescription" ng-required="true">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Notes</label>
              <textarea ng-model="locationsMore.fileuploadObject.notes" rows="3" md-select-on-focus></textarea>
            </md-input-container>
          </div>
          <br>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Expiry / Due Date</label>
              <md-datepicker ng-model="locationsMore.fileuploadObject.expiry" md-placeholder="Enter date"></md-datepicker>
            </md-input-container>
            <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
              <div>Track Expiry / Due Date</div>
              <md-radio-group ng-model="locationsMore.fileuploadObject.trackExpiry" ng-readonly="userDetailsObj.viewmode">
                <md-radio-button ng-value="true">Yes</md-radio-button>
                <md-radio-button ng-value="false">No</md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div layout-gt-sm="row">
            <input type="file" name="uploadingFiles" onchange="angular.element(this).scope().uploadFile(this.files)"/>
          </div>
          <div class="text-right">
            <md-button class="md-raised md-primary" ng-click="locationsMore.createAttachment()">Save</md-button>
            <md-button class="md-raised" ng-click="locationsMore.hideAttachmentCreate()">Cancel</md-button>
          </div>
        </form>
        <p ng-show="!locationsMore.viewmode">
          <md-button class="md-raised md-cornered" ng-click="locationsMore.showAttachmentCreate()">Add New</md-button>
        </p>

        <table class="table" ng-show="locationsMore.locationsDetailsObj.documents.length>0">
          <tr>
            <td>Id</td>
            <td>Date Created</td>
            <td>Description</td>
            <td colspan="2">Action</td>
          </tr>
          <tr ng-repeat="doc in locationsMore.locationsDetailsObj.documents">
            <td ng-bind="doc.documentId"></td>
            <td ng-bind="doc.createdOn | date : format : timezone"></td>
            <td ng-bind="doc.description"></td>
            <td><a target="_blank" ng-href="{{doc.documentUrl}}">View</a></td>
            <td><a ng-click="locationsMore.documentRemove($index, doc.documentId);">Remove</a></td>
          </tr>
        </table>
      </div>
      <hr/>
      <div class="text-right">
        <md-button class="md-raised md-primary" ng-click="locationsMore.saveBtnClick()" ng-show="!locationsMore.viewmode">Save</md-button>
        <md-button ng-show="locationsMore.viewmode" class="md-raised md-primary" ng-click="locationsMore.editBtnClick()">Edit</md-button>
        <md-button class="md-raised" ng-click="locationsMore.cancelBtnclick()">Cancel</md-button>
      </div>
    </div>
  </md-content>
</div>