<form layout="column" layout-padding ng-cloak class="col-sm-offset-4 col-sm-4" style="padding-top: 10%;" ng-submit="login.login()">
  <md-content class="md-no-momentum" style="padding: 20px;">
    <h4 style="color: #4CAF50;">Sign In</h4>
    <br/>
    <md-input-container class="md-icon-float md-block">
      <label>User Name</label>
      <md-icon md-svg-src="../images/ic_email_black_24px.svg" class="md-fab md-primary"></md-icon>
      <input ng-model="login.username" ng-required="true">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Password</label>
      <md-icon md-svg-src="../images/ic_lock_black_24px.svg"></md-icon>
      <input type="password" ng-model="login.password" ng-required="true">
    </md-input-container>
    <div class="text-center">
      <md-button type="submit" class="md-raised md-primary" >Sign In</md-button>
    </div>
  </md-content>
</form>