<div ng-cloak class="admin-view">
  <div class="loader-parent" ng-if="showLoader">
    <md-progress-circular class="main-loader" md-mode="determinate" value="{{organition.determinateValue}}"></md-progress-circular>
  </div>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Company">
        <md-content class="md-padding">
          <div layout="column" ng-cloak class="md-inline-form user-detail-view">
            <md-content layout-padding>
              <div class="container" style="width:70%; margin: 0 auto; background: #fff;">
                <h5 style="color: #4CAF50;">COMPANY</h5>
                <br>
                <form name="userForm">
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Entity Name</label>
                      <input ng-model="organition.companyDetailsObj.entityname" ng-readonly="organition.viewmode" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>DBA</label>
                      <input ng-model="organition.companyDetailsObj.dba" ng-readonly="organition.viewmode" ng-required="true">
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Entity Type</label>
                      <md-select ng-model="organition.companyDetailsObj.entityType" ng-readonly="organition.viewmode">
                        <md-option ng-repeat="entity in organition.entityTypes" ng-value="entity.id">
                          {{entity.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Date of Incorporation</label>
                      <md-datepicker ng-model="organition.companyDetailsObj.dateOfIncorporation" md-placeholder="Enter date"></md-datepicker>
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>State Incorporated</label>
                      <md-select ng-model="organition.companyDetailsObj.stateOfIncorporation" ng-readonly="organition.viewmode">
                        <md-option ng-repeat="state in organition.states" ng-value="state.stateCode">
                          {{state.stateName}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>FEIN</label>
                      <input ng-model="organition.companyDetailsObj.fein" ng-readonly="organition.viewmode">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Fiscal Year End</label>
                      <input ng-model="organition.companyDetailsObj.fiscalYearEnd" ng-readonly="organition.viewmode">
                    </md-input-container>
                  </div>
                  <h5 style="border-bottom: 2px dotted #ccc; color: #4CAF50;margin-bottom: 15px;">PRINCIPAL ADDRESS</h5>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Street Address</label>
                      <input ng-model="organition.companyDetailsObj.addressId.street" ng-readonly="organition.viewmode">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>City</label>
                      <input ng-model="organition.companyDetailsObj.addressId.city" ng-readonly="organition.viewmode">
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>State</label>
                      <md-select ng-model="organition.companyDetailsObj.state" ng-readonly="organition.viewmode">
                        <md-option ng-repeat="state in organition.states" ng-value="state.stateCode">
                          {{state.stateName}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>ZIP</label>
                      <input ng-model="organition.companyDetailsObj.addressId.zip" ng-readonly="organition.viewmode">
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Country</label>
                      <input ng-model="organition.companyDetailsObj.addressId.country" ng-readonly="organition.viewmode">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>phone</label>
                      <input class="input-phone" type='text' phone-input ng-model="organition.companyDetailsObj.addressId.phone" ng-readonly="organition.viewmode">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Website</label>
                      <input ng-model="organition.companyDetailsObj.addressId.email" ng-readonly="organition.viewmode">
                    </md-input-container>
                  </div>
                  <h5 style="border-bottom: 2px dotted #ccc; color: #4CAF50; margin-bottom: 15px;">OTHER IDENTIFICATIONS</h5>
                  <div layout-gt-sm="row" ng-repeat="otherIdentifier in organition.companyDetailsObj.otherIdentifications">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Identifier Name</label>
                      <input ng-model="otherIdentifier.identifierName" ng-readonly="organition.viewmode">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Identifier Number</label>
                      <input ng-model="otherIdentifier.identifierNumber" ng-readonly="organition.viewmode">
                    </md-input-container>
                  </div>
                  <div class="text-right" style="margin-top: -20px;margin-bottom: 20px;">
                    <md-button class="md-fab md-mini md-primary" ng-click="organition.addOtherIdentifier()">
                      <md-icon class="glyphicon glyphicon-plus" style="font-size: 30px;margin-bottom: 17px"></md-icon>
                    </md-button>
                  </div>
                  <h5 style="border-bottom: 2px dotted #ccc; color: #4CAF50; margin-bottom: 15px;">BUSINESS REQUIREMENT</h5>
                  <!--  <table class="table personal-licencies">
                    <thead>
                      <tr>
                        <th colspan="3" class="background-none"><h5><b>Medical License</b></h5></th>
                        <th class="text-right background-none"><a ng-click="organition.providerMore({}, 'MEDICAL')"  class="btn" ng-disabled="organition.viewmode">+ Add New</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="innerObj in organition.provider.licenseType.medicalLicence">
                        <td>License# {{innerObj.license.licenseNo}}</td>
                        <td>State: {{innerObj.license.state}}</td>
                        <td class="text-center">Expairy Date: {{innerObj.license.expiryDate  | date:'medium'}}</td>
                        <td class="text-right"><a ng-click="organition.providerMore(innerObj, 'MEDICAL')" class="btn" ng-disabled="organition.viewmode">More</a></td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table personal-licencies">
                    <thead>
                      <tr>
                        <th colspan="3" class="background-none"><h5><b>DEA License</b></h5></th>
                        <th class="text-right background-none"><a ng-click="organition.providerMore( {}, 'DEA_LICENSE')" class="btn" ng-disabled="organition.viewmode">+ Add New</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="innerObj in organition.provider.licenseType.dealLicence">
                        <td>License# {{innerObj.license.licenseNo}}</td>
                        <td>Address: {{innerObj.license.address}}</td>
                        <td class="text-center">Expairy Date: {{innerObj.license.expiryDate  | date:'medium'}}</td>
                        <td class="text-right"><a ng-click="organition.providerMore( innerObj, 'DEA_LICENSE')" class="btn" ng-disabled="organition.viewmode">More</a></td>
                      </tr>
                    </tbody>
                  </table> -->
                  <table class="table personal-licencies">
                    <thead>
                      <tr>
                        <th colspan="3" class="background-none">
                          <h5><b>Insurance</b></h5></th>
                        <th class="text-right background-none"><a ng-click="organition.providerMore({}, 'INSURANCE')" class="btn" ng-disabled="organition.viewmode">+ Add New</a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="innerObj in organition.companyDetailsObj.licenseType">
                        <td>policyNumber# {{innerObj.license.policyNumber}}</td>
                        <td>Carrier: {{innerObj.license.carrier}}</td>
                        <td class="text-center">Expairy Date: {{innerObj.license.expiryDate | date:'medium'}}</td>
                        <td class="text-right"><a ng-click="organition.providerMore(innerObj, 'INSURANCE')" class="btn" ng-disabled="organition.viewmode">More</a></td>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <div>
                  <h5 style="border-bottom: 2px dotted #ccc; color: #4CAF50;margin-bottom: 15px;">ATTACHMENTS/REMAINDERS</h5>
                  <br>
                  <form name="userForm" class="attachment-form" ng-show="organition.attachmentCreateViewmode">
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Short Description</label>
                        <input ng-model="organition.fileuploadObject.shortdescription" ng-required="true">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Notes</label>
                        <textarea ng-model="organition.fileuploadObject.notes" rows="3" md-select-on-focus></textarea>
                      </md-input-container>
                    </div>
                    <br>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Expiry / Due Date</label>
                        <md-datepicker ng-model="organition.fileuploadObject.expiry" md-placeholder="Enter date" ng-disabled="!organition.fileuploadObject.trackExpiry"></md-datepicker>
                      </md-input-container>
                      <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
                        <div>Track Expiry / Due Date</div>
                        <md-radio-group ng-model="organition.fileuploadObject.trackExpiry" ng-readonly="userDetailsObj.viewmode">
                          <md-radio-button ng-value="true">Yes</md-radio-button>
                          <md-radio-button ng-value="false">No</md-radio-button>
                        </md-radio-group>
                      </div>
                    </div>
                    <div layout-gt-sm="row">
                      <input type="file" name="uploadingFiles" onchange="angular.element(this).scope().uploadFile(this.files)" />
                    </div>
                    <div layout-gt-sm="row">
                      <table class="table" style="width:50%;margin-top:10px;margin-bottom:10px;" ng-show="organition.showDeleteDoc">
                        <tr>
                          <td>File Name</td>
                          <td>Ation</td>
                        </tr>
                        <tr>
                          <td ng-bind="organition.fileuploadObject.documentName"></td>
                          <td><span ng-click="organition.documentRemove(organition.fileuploadObject.docId);" class="btn btn-link text-danger">Delete</span></td>
                        </tr>
                      </table>
                      <div class="text-right edit-doc-upload-btn {{!organition.showDeleteDoc && 'half-width' || 'full-width'}}">
                        <md-button class="md-raised md-warn md-button md-ink-ripple" ng-click="organition.createAttachment()">Upload</md-button>
                        <md-button class="md-raised" ng-click="organition.hideAttachmentCreate()">Cancel</md-button>
                      </div>
                    </div>
                  </form>
                  <p ng-show="!organition.viewmode">
                    <md-button class="md-raised md-cornered" ng-click="organition.showAttachmentCreate()">Add New</md-button>
                  </p>
                  <table class="table" ng-show="organition.companyDetailsObj.documents.length>0">
                    <tr>
                      <td>Id</td>
                      <td>Date Created</td>
                      <td>Description</td>
                      <td colspan="2">Action</td>
                    </tr>
                    <tr ng-repeat="doc in organition.companyDetailsObj.documents">
                      <td ng-bind="doc.documentId"></td>
                      <td ng-bind="doc.createdOn | date : format : timezone"></td>
                      <td ng-bind="doc.description"></td>
                      <td><a target="_blank" ng-href="{{doc.documentUrl}}">View</a></td>
                      <!-- <td><a ng-click="organition.viewDoc(doc);" ng-disabled="organition.viewmode">Edit</a></td> -->
                      <td><a ng-click="organition.viewDoc(doc)" class="btn btn-link" ng-disabled="organition.viewmode">Edit</a></td>
                    </tr>
                  </table>
                </div>
                <hr/>
                <div class="text-right">
                  <md-button class="md-raised md-primary" ng-click="organition.saveBtnClick()" ng-show="!organition.viewmode">Save</md-button>
                  <md-button ng-show="organition.viewmode" class="md-raised md-primary" ng-click="organition.editBtnClick()">Edit</md-button>
                  <md-button class="md-raised" ng-click="organition.cancelBtnclick()">Cancel</md-button>
                </div>
              </div>
            </md-content>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Locations">
        <md-content class="md-padding">
          <table class="table table-bordered table-stripped users-table">
            <thead>
              <tr class="heading">
                <td colspan="7">
                  <div class="col-sm-12 padding0">
                    <div class="col-sm-1 padding0 total-items"><span>
                    {{organition.locations[0].total}}</span> items</div>
                    <div class="col-sm-8 padding0">
                      <div class="col-sm-4 serch-section">
                        <input type="serch" placeholder="Search City" class="serch-box" ng-enter="organition.searchEmployee()" ng-model="organition.city">
                        <span class="glyphicon glyphicon-search" ng-click="organition.searchEmployee()"></span>
                      </div>
                      <div class="col-sm-4 serch-section">
                        <input type="serch" placeholder="Search State" class="serch-box" ng-enter="organition.searchEmployee()" ng-model="organition.state">
                        <span class="glyphicon glyphicon-search" ng-click="organition.searchEmployee()"></span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <span class="text-status">Status:</span>
                      <select class="status-dropdown" ng-model="organition.status" ng-change="organition.searchEmployee()">
                        <option value="">All</option>
                        <option class="text-status" value="true">Active</option>
                        <option class="text-status" value="false">Inactive</option>
                      </select>
                      <span class="text-status add-item pull-right" ng-click="organition.addNew()"><span>+</span> Add New
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th ng-click="predict = 'locationName'; reverse = !reverse;">
                  Location Name
                  <span class="glyphicon pull-right {{(predict == 'locationName' && reverse == true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
                </th>
                <th ng-click="predict = 'addressId.street'; reverse = !reverse;">
                  Street Address
                  <span class="glyphicon pull-right {{(predict == 'addressId.street' && reverse == true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
                </th>
                <th ng-click="predict = 'addressId.city'; reverse = !reverse;">
                  City
                  <span class="glyphicon pull-right {{(predict == 'addressId.city' && reverse == true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
                </th>
                <th ng-click="predict = 'addressId.zip'; reverse = !reverse;">
                  Zip
                  <span class="glyphicon pull-right {{(predict == 'addressId.zip' && reverse == true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
                </th>
                <th ng-click="predict = 'addressId.state'; reverse = !reverse;">
                  State
                  <span class="glyphicon pull-right {{(predict == 'addressId.state' && reverse == true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
                </th>
                <th ng-click="predict = 'addressId.status'; reverse = !reverse;">
                  State
                  <span class="glyphicon pull-right {{(predict == 'addressId.status' && reverse == true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
                </th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="location in organition.locations | orderBy :predict :reverse">
                <td ng-bind="location.locationName"></td>
                <td ng-bind="location.addressId.street"></td>
                <td ng-bind="location.addressId.city"></td>
                <td ng-bind="location.addressId.zip"></td>
                <td ng-bind="location.addressId.state"></td>
                <td>{{location.status && 'Active' || 'InActive'}}</td>
                <td ng-click="organition.organitionDetailsView(location)"><strong><a>More</a></strong></td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>