<div ng-cloak class="admin-view">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Locations">
        <md-content class="md-padding">
          <table class="table table-bordered table-stripped users-table">
            <thead>
              <tr class="heading">
                <td colspan="7">
                  <div class="col-sm-12 padding0">
                    <div class="col-sm-1 padding0 total-items"><span>
                    {{organition.locations[0].total}}</span> items</div>
                    <div class="col-sm-8 padding0">
                      <div class="col-sm-4 serch-section">
                        <input type="serch" placeholder="Search City" class="serch-box">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                      <div class="col-sm-4 serch-section">
                        <input type="serch" placeholder="Search State" class="serch-box">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <span class="text-status">Status:</span>
                      <select class="status-dropdown" ng-model="organition.status" ng-change="organition.searchEmployee();">
                        <option value="" disabled="true">All</option>
                        <option class="text-status" value="true">Active</option>
                        <option class="text-status" value="false">Inactive</option>
                      </select>
                      <span class="text-status add-item pull-right" ng-click="organition.addNew()"><span>+</span> Add New
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Location Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>Zip</th>
                <th>State</th>
                <th>Status</th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="location in organition.locations">
                <td ng-bind="location.locationName"></td>
                <td ng-bind="location.addressId.street"></td>
                <td ng-bind="location.addressId.city"></td>
                <td ng-bind="location.addressId.zip"></td>
                <td ng-bind="location.addressId.state"></td>
                <td>{{location.status && 'Active' || 'InActive'}}</td>
                <td ng-click="organition.organitionDetailsView(location)"><strong><a>More</a></strong></td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="Company">
        <md-content class="md-padding">
          <div layout="column" ng-cloak class="md-inline-form user-detail-view">
            <md-content layout-padding>
              <div class="container" style="width:70%; margin: 0 auto; background: #fff;">
                <h5 style="color: #4CAF50;">COMPANY</h5>
                <br>
                <form name="userForm">
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Entity Name</label>
                      <input ng-model="organition.companyDetailsObj.entityname" ng-readonly="organition.viewmode" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>DBA</label>
                      <input ng-model="organition.companyDetailsObj.dba" ng-readonly="organition.viewmode" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Entity Type</label>
                      <input ng-model="organition.companyDetailsObj.entityType" ng-readonly="organition.viewmode">
                    </md-input-container>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Zip Code</label>
                      <input ng-model="organition.companyDetailsObj.addressId.zip" ng-readonly="organition.viewmode">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>State</label>
                      <md-select ng-model="organition.companyDetailsObj.addressId.state" ng-readonly="organition.viewmode">
                        <md-option ng-repeat="state in organition.states" ng-value="state.stateCode">
                          {{state.stateName}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
                      <div>Status</div>
                      <md-radio-group ng-model="organition.companyDetailsObj.status" ng-readonly="organition.viewmode">
                        <md-radio-button ng-value="true">Active</md-radio-button>
                        <md-radio-button ng-value="false">In Active</md-radio-button>
                      </md-radio-group>
                    </div>
                  </div>
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Note</label>
                      <input ng-model="organition.companyDetailsObj.notes" ng-readonly="organition.viewmode">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Phone</label>
                      <input ng-model="organition.companyDetailsObj.addressId.phone" ng-readonly="organition.viewmode">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Fax</label>
                      <input ng-model="organition.companyDetailsObj.addressId.fax" ng-readonly="organition.viewmode">
                    </md-input-container>
                  </div>
                </form>
                <div>
                  <h5 style="border-bottom: 1px solid #ccc; color: #4CAF50;">ATTACHMENTS/REMAINDERS</h5>
                  <br>
                  <!-- Need to build a form -->
                  <form name="userForm" class="attachment-form" ng-show="organition.attachmentCreateViewmode">
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Short Description</label>
                        <input ng-model="companyDetailsObj.entityname" ng-required="true">
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Notes</label>
                        <textarea ng-model="companyDetailsObj.entityname" rows="3" md-select-on-focus></textarea>
                      </md-input-container>
                    </div>
                    <br>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Expiry / Due Date</label>
                        <md-datepicker ng-model="organition.myDate" md-placeholder="Enter date"></md-datepicker>
                      </md-input-container>
                      <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
                        <div>Track Expiry / Due Date</div>
                        <md-radio-group ng-model="companyDetailsObj.status" ng-readonly="organition.viewmode">
                          <md-radio-button ng-value="true">Yes</md-radio-button>
                          <md-radio-button ng-value="false">No</md-radio-button>
                        </md-radio-group>
                      </div>
                    </div>
                    <div layout-gt-sm="row">
                      <input type="file" ngf-select="onFileSelect($files)" multiple>
                    </div>
                    <div class="text-right">
                      <md-button class="md-raised md-primary" ng-click="organition.createAttachment()">Save</md-button>
                      <md-button class="md-raised" ng-click="organition.hideAttachmentCreate()">Cancel</md-button>
                    </div>
                  </form>
                  <p ng-show="!organition.viewmode">
                    <md-button class="md-raised md-cornered" ng-click="organition.showAttachmentCreate()">Add New</md-button>
                  </p>
                  <table class="table">
                    <tr>
                      <td>Id</td>
                      <td>Date Created</td>
                      <td>Description</td>
                      <td>Action</td>
                    </tr>
                    <tr ng-repeat="doc in organition.companyDetailsObj.documents">
                      <td ng-bind="doc.documentId"></td>
                      <td ng-bind="doc.createdOn | date : format : timezone"></td>
                      <td ng-bind="doc.description"></td>
                      <td><a href="">View</a></td>
                    </tr>
                  </table>
                </div>
                <hr/>
                <div class="text-right">
                  <md-button class="md-raised md-primary" ng-click="organition.saveBtnClick()" ng-show="!organition.viewmode">Save</md-button>
                  <md-button ng-show="organition.viewmode" class="md-raised md-primary" ng-click="organition.editBtnClick()">Edit</md-button>
                  <md-button class="md-raised" ng-click="organition.cancelBtnclick()">Cancel</md-button>
                </div>
              </div>
            </md-content>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
