<div ng-cloak class="admin-view">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Locations">
        <md-content class="md-padding">
          <table class="table table-bordered table-stripped users-table">
            <thead>
              <tr class="heading">
                <td colspan="7">
                  <div class="col-sm-12 padding0">
                    <div class="col-sm-1 padding0 total-items"><span>{{organition.users[0].total}}</span> items</div>
                    <div class="col-sm-8 padding0">
                      <div class="col-sm-4 serch-section">
                        <input type="serch" placeholder="Search City" class="serch-box">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                      <div class="col-sm-4 serch-section">
                        <input type="serch" placeholder="Search State" class="serch-box">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <span class="text-status">Status:</span>
                      <select class="status-dropdown" ng-model="organition.status" ng-chnage="organition.changeStatus();">
                        <option value="" disabled="true">Select</option>
                        <option class="text-status" value="true">Active</option>
                        <option class="text-status" value="false">Inactive</option>
                      </select>
                      <span class="text-status add-item pull-right" ng-click="organition.addNew()"><span>+</span> Add New
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Location Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>Zip</th>
                <th>State</th>
                <th>Status</th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="location in organition.locations">
                <td ng-bind="location.locationName"></td>
                <td ng-bind="location.addressId.street"></td>
                <td ng-bind="location.addressId.city"></td>
                <td ng-bind="location.addressId.zip"></td>
                <td ng-bind="location.addressId.state"></td>
                <td>{{location.status && 'Active' || 'InActive'}}</td>
                <td ng-click="organition.organitionDetailsView(location)"><strong><a>More</a></strong></td>
              </tr>
              <!-- <tr>
                <td colspan="7">
                  <div class="col-xs-10">
                    <span ng-class="organition.disabled() ? 'page-inactive' : 'page-active' " ng-click="organition.pagination(organition.pageNo,'first')"> FIRST </span>
                    <span ng-class="organition.disabled()?'page-inactive': 'page-active'" ng-click="organition.pagination(organition.pageNo,'prev')"> PREV </span>
                    <input type="text" name="country" ng-model="organition.pageNo" class="page-number" readonly>
                    <span ng-class="organition.active()?'page-active':'page-inactive'" ng-click="organition.pagination(organition.pageNo,'next')"> NEXT </span>
                    <span ng-class="organition.active()?'page-active':'page-inactive'" ng-click="organition.pagination(organition.pageNo,'last')"> LAST </span>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="Company">
        <md-content class="md-padding">
          <table class="table table-bordered table-stripped users-table">
            <thead>
              <tr class="heading">
                <td colspan="7">
                  <div class="col-sm-12 padding0">
                    <div class="col-sm-1 padding0 total-items"><span>{{organition.users[0].total}}</span> items</div>
                    <div class="col-sm-8 padding0">
                      <div class="col-sm-4 serch-section">
                        <input type="serch" placeholder="Search City" class="serch-box">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                      <div class="col-sm-4 serch-section">
                        <input type="serch" placeholder="Search State" class="serch-box">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <span class="text-status">Status:</span>
                      <select class="status-dropdown" ng-model="organition.status" ng-chnage="organition.changeStatus();">
                        <option value="" disabled="true">Select</option>
                        <option class="text-status" value="true">Active</option>
                        <option class="text-status" value="false">Inactive</option>
                      </select>
                      <span class="text-status add-item pull-right" ng-click="organition.addNew()"><span>+</span> Add New
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Comany Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>Zip</th>
                <th>State</th>
                <th>Status</th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="company in organition.companies">
                <td ng-bind="company.locationName"></td>
                <td ng-bind="company.addressId.street"></td>
                <td ng-bind="company.addressId.city"></td>
                <td ng-bind="company.addressId.zip"></td>
                <td ng-bind="company.addressId.state"></td>
                <td>{{company.status && 'Active' || 'InActive'}}</td>
                <td ng-click="organition.organitionCompanyDetailsView(company)"><strong><a>More</a></strong></td>
              </tr>
              <!-- <tr>
                <td colspan="7">
                  <div class="col-xs-10">
                    <span ng-class="organition.disabled() ? 'page-inactive' : 'page-active' " ng-click="organition.pagination(organition.pageNo,'first')"> FIRST </span>
                    <span ng-class="organition.disabled()?'page-inactive': 'page-active'" ng-click="organition.pagination(organition.pageNo,'prev')"> PREV </span>
                    <input type="text" name="country" ng-model="organition.pageNo" class="page-number" readonly>
                    <span ng-class="organition.active()?'page-active':'page-inactive'" ng-click="organition.pagination(organition.pageNo,'next')"> NEXT </span>
                    <span ng-class="organition.active()?'page-active':'page-inactive'" ng-click="organition.pagination(organition.pageNo,'last')"> LAST </span>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
