<div layout="column" ng-cloak class="md-inline-form user-detail-view">
  <div class="loader-parent" ng-if="showLoader">
    <md-progress-circular class="main-loader" md-mode="determinate" value="{{personalMore.determinateValue}}"></md-progress-circular>
  </div>
  <md-content layout-padding>
    <div class="container" style="width:70%; margin: 0 auto; background: #fff;">
      <h5 style="color: #4CAF50;">PERSONAL</h5>
      <br>
      <form name="userForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="personalMore.personalDetailsObj.lastName" ng-readonly="personalMore.viewmode" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input ng-model="personalMore.personalDetailsObj.firstName" ng-readonly="personalMore.viewmode" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Middle Name</label>
            <input ng-model="personalMore.personalDetailsObj.middleName" ng-readonly="personalMore.viewmode">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Birthdate</label>
            <md-datepicker ng-model="personalMore.personalDetailsObj.dateOfBirth" ng-readonly="personalMore.viewmode" md-placeholder="Enter Birthdate"></md-datepicker>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Social Security#</label>
            <input ng-model="personalMore.personalDetailsObj.socialSecurity" ng-readonly="personalMore.viewmode">
          </md-input-container>
          <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
            <div>Gender</div>
            <md-radio-group ng-disabled="personalMore.viewmode" ng-model="personalMore.personalDetailsObj.gender" ng-readonly="personalMore.viewmode">
              <md-radio-button value="MALE" style="margin-right:20px;">Male</md-radio-button>
              <md-radio-button value="FEMALE">Female</md-radio-button>
            </md-radio-group>
          </div>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Street Address</label>
            <input ng-model="personalMore.personalDetailsObj.addressId.street" ng-readonly="personalMore.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="personalMore.personalDetailsObj.addressId.city" ng-readonly="personalMore.viewmode">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="personalMore.personalDetailsObj.addressId.state" ng-disabled="personalMore.viewmode">
              <md-option ng-repeat="state in personalMore.states" ng-value="state.stateCode">
                {{state.stateName}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>ZIP</label>
            <input ng-model="personalMore.personalDetailsObj.addressId.zip" ng-readonly="personalMore.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Country</label>
            <input ng-model="personalMore.personalDetailsObj.addressId.country" ng-readonly="personalMore.viewmode">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Phone</label>
            <input type="number" ng-model="personalMore.personalDetailsObj.addressId.phone" ng-readonly="personalMore.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Personal Email</label>
            <input type="email" ng-model="personalMore.personalDetailsObj.addressId.email" ng-readonly="personalMore.viewmode">
          </md-input-container>
        </div>
        <h5 style="color: #4CAF50;">EMPLOYEE</h5>
        <br>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Job Title</label>
            <input ng-model="personalMore.personalDetailsObj.employeeId.jobTitle" ng-readonly="personalMore.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Location</label>
            <md-select ng-model="personalMore.personalDetailsObj.employeeId.location.locationId" ng-disabled="personalMore.viewmode">
              <md-option ng-repeat="location in personalMore.locations" ng-value="location.locationId">
                {{location.locationName}}
              </md-option>
            </md-select>
          </md-input-container>
          <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
            <div>Status</div>
            <md-radio-group ng-disabled="personalMore.viewmode" ng-model="personalMore.personalDetailsObj.employeeId.status" ng-readonly="personalMore.viewmode">
              <md-radio-button ng-value="true" style="margin-right:20px;">Active</md-radio-button>
              <md-radio-button ng-value="false">Inactive</md-radio-button>
            </md-radio-group>
          </div>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Supervisor</label>
            <md-select ng-model="personalMore.personalDetailsObj.employeeId.superVisor" ng-disabled="personalMore.viewmode" ng-required="true">
              <md-option ng-repeat="supervisor in personalMore.supervisorList" ng-value="supervisor.name">
                {{supervisor.name}}
              </md-option>
            </md-select>
          </md-input-container>
          <div flex layout="row" layout-padding layout-align="start center" style="height: 30px; padding-left:50px">
            <md-checkbox ng-disabled="personalMore.viewmode" class="md-block" flex-gt-sm ng-model="personalMore.personalDetailsObj.employeeId.isSupervisor" aria-label="Supervisor">Supervisor
            </md-checkbox>
            <md-checkbox ng-disabled="personalMore.viewmode" class="md-block" flex-gt-sm ng-model="personalMore.personalDetailsObj.employeeId.isProvider" aria-label="Provider" ng-click="personalMore.providerClick()">Provider
            </md-checkbox>
          </div>
        </div>
        <div ng-show="personalMore.personalDetailsObj.employeeId.isProvider">
          <h5 style="color: #4CAF50;margin-top:30px;margin-bottom: 20px;" class="text-uppercase">provider</h5>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>NPI</label>
              <input ng-model="personalMore.personalDetailsObj.provider.npi" ng-readonly="personalMore.viewmode" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Credential</label>
              <md-select ng-model="personalMore.personalDetailsObj.provider.credential" ng-disabled="personalMore.viewmode" ng-required="true">
                <md-option ng-repeat="credential in personalMore.credentials" ng-value="credential.name">
                  {{credential.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Speciality</label>
              <md-select ng-model="personalMore.personalDetailsObj.provider.specialist" ng-disabled="personalMore.viewmode">
                <md-option ng-repeat="speciality in personalMore.specialities" ng-value="speciality.name">
                  {{speciality.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Taxonomy</label>
               <input ng-model="personalMore.personalDetailsObj.provider.taxonomy" ng-readonly="personalMore.viewmode" ng-required="true">
            </md-input-container>
          </div>
          <table class="table personal-licencies">
            <thead>
              <tr>
                <th colspan="3" class="background-none"><h5><b>Medical License</b></h5></th>
                <th class="text-right background-none"><a ng-click="personalMore.providerMore({}, 'MEDICAL')"  class="btn" ng-disabled="personalMore.viewmode">+ Add New</a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="innerObj in personalMore.provider.licenseType.medicalLicence">
                <td>License# {{innerObj.license.licenseNo}}</td>
                <td>State: {{innerObj.license.state}}</td>
                <td class="text-center">Expairy Date: {{innerObj.license.expiryDate  | date:'medium'}}</td>
                <td class="text-right"><a ng-click="personalMore.providerMore(innerObj, 'MEDICAL')" class="btn" ng-disabled="personalMore.viewmode">More</a></td>
              </tr>
            </tbody>
          </table>
          <table class="table personal-licencies">
            <thead>
              <tr>
                <th colspan="3" class="background-none"><h5><b>DEA License</b></h5></th>
                <th class="text-right background-none"><a ng-click="personalMore.providerMore( {}, 'DEA_LICENSE')" class="btn" ng-disabled="personalMore.viewmode">+ Add New</a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="innerObj in personalMore.provider.licenseType.dealLicence">
                <td>License# {{innerObj.license.licenseNo}}</td>
                <td>Address: {{innerObj.license.address}}</td>
                <td class="text-center">Expairy Date: {{innerObj.license.expiryDate  | date:'medium'}}</td>
                <td class="text-right"><a ng-click="personalMore.providerMore( innerObj, 'DEA_LICENSE')" class="btn" ng-disabled="personalMore.viewmode">More</a></td>
              </tr>
            </tbody>
          </table>
          <table class="table personal-licencies">
            <thead>
              <tr>
                <th colspan="3" class="background-none"><h5><b>Malpractice Insurance</b></h5></th>
                <th class="text-right background-none"><a ng-click="personalMore.providerMore({}, 'MALPRACTICE_INSURANCE')" class="btn" ng-disabled="personalMore.viewmode">+ Add New</a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="innerObj in personalMore.provider.licenseType.malpracticeInsurance">
                <td>policyNumber# {{innerObj.license.policyNumber}}</td>
                <td>Carrier: {{innerObj.license.carrier}}</td>
                <td class="text-center">Expairy Date: {{innerObj.license.expiryDate  | date:'medium'}}</td>
                <td class="text-right"><a ng-click="personalMore.providerMore(innerObj, 'MALPRACTICE_INSURANCE')" class="btn" ng-disabled="personalMore.viewmode">More</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <br>
      <div>
        <h5 style="border-bottom: 1px solid #ccc; color: #4CAF50;">ATTACHMENTS/REMAINDERS</h5>
        <br>
        <!-- Need to build a form -->
        <form name="userForm" class="attachment-form" ng-show="personalMore.attachmentCreateViewmode">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Short Description</label>
              <input ng-model="personalMore.fileuploadObject.shortdescription" ng-required="true">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Notes</label>
              <textarea ng-model="personalMore.fileuploadObject.notes" rows="3" md-select-on-focus></textarea>
            </md-input-container>
          </div>
          <br>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Expiry / Due Date</label>
              <md-datepicker ng-model="personalMore.fileuploadObject.expiry" md-placeholder="Enter date"></md-datepicker>
            </md-input-container>
            <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
              <div>Track Expiry / Due Date</div>
              <md-radio-group ng-model="personalMore.fileuploadObject.trackExpiry" ng-readonly="userDetailsObj.viewmode">
                <md-radio-button ng-value="true">Yes</md-radio-button>
                <md-radio-button ng-value="false">No</md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div layout-gt-sm="row">
            <input type="file" name="uploadingFiles" onchange="angular.element(this).scope().uploadFile(this.files)" />
          </div>
          <div class="text-right">
            <md-button class="md-raised md-primary" ng-click="personalMore.createAttachment()">Save</md-button>
            <md-button class="md-raised" ng-click="personalMore.hideAttachmentCreate()">Cancel</md-button>
          </div>
        </form>
        <p ng-show="!personalMore.viewmode">
          <md-button class="md-raised md-cornered" ng-click="personalMore.showAttachmentCreate()">Add New</md-button>
        </p>
        <table class="table" ng-show="personalMore.personalDetailsObj.documents.length>0">
          <tr>
            <td>Id</td>
            <td>Date Created</td>
            <td>Description</td>
            <td colspan="2">Action</td>
          </tr>
          <tr ng-repeat="doc in personalMore.personalDetailsObj.documents">
            <td ng-bind="doc.documentId"></td>
            <td ng-bind="doc.createdOn | date : format : timezone"></td>
            <td ng-bind="doc.license[0].shortDescription"></td>
            <td><a target="_blank" ng-href="{{doc.documentUrl}}" ng-show="doc.documentId">View</a></td>
            <td><a ng-click="personalMore.documentRemove($index, doc.documentId);" ng-show="doc.documentId">Remove</a></td>
          </tr>
        </table>
      </div>
      <hr/>
      <div class="text-right">
        <md-button class="md-raised md-primary" ng-click="personalMore.savePersonal()" ng-show="!personalMore.viewmode">Save</md-button>
        <md-button ng-show="personalMore.viewmode" class="md-raised md-primary" ng-click="personalMore.editBtnClick()">Edit</md-button>
        <md-button class="md-raised" ng-click="personalMore.cancelBtnclick()">Cancel</md-button>
      </div>
    </div>
  </md-content>
</div>