<div>
  <div class="sub-menu">
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
      <div class="alert alert-danger" ng-show="personal.errorMsg">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>OOPS! </strong> <span ng-bind="personal.errorMsg"></span>
      </div>
      <section>
        <div class="col-xs-12">
          <table class="human-search-section table table-bordered total-stripped">
            <tr>
              <td colspan="7">
                <div class="col-sm-12 padding0">
                  <div class="col-sm-1 padding0 total-items"><span>{{personal.personals[0].total}}</span> items</div>
                  <div class="col-sm-8 padding0">
                    <div class="col-sm-4 serch-section">
                      <input type="serch" placeholder="Search First Name" class="serch-box" ng-model="personal.firstName" ng-enter="personal.searchEmployee()">
                      <span class="glyphicon glyphicon-search" ng-click="personal.searchEmployee()"></span>
                    </div>
                    <div class="col-sm-4 serch-section">
                      <input type="serch" placeholder="Search Last Name" class="serch-box" ng-model="personal.lastName" ng-enter="personal.searchEmployee()">
                      <span class="glyphicon glyphicon-search" ng-click="personal.searchEmployee()"></span>
                    </div>
                    <div class="col-sm-4 serch-section">
                      <input type="serch" placeholder="Search Location" class="serch-box" ng-model="personal.location" ng-enter="personal.searchEmployee()">
                      <span class="glyphicon glyphicon-search" ng-click="personal.searchEmployee()"></span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <span class="text-status">Status:</span>
                    <select class="status-dropdown" ng-change="personal.searchEmployee()" ng-model="personal.status">
                      <option value="">All</option>
                      <option value="true">Active</option>
                      <option value="false">Inactive</option>
                    </select>
                    <span class="text-status add-item pull-right" ng-click="personal.fnAdd()"><span>+</span> Add New
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr style="background: #000">
              <th ng-click="predict = 'lastName'; reverse = !reverse;">
                <u> Last Name </u>
                <span class="glyphicon pull-right {{(predict == 'lastName' && reverse==true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
              </th>
              <th ng-click="predict = 'firstName'; reverse = !reverse;"><u>First Name</u>
                <span class="glyphicon pull-right {{(predict == 'firstName' && reverse==true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
              </th>
              <th><u>Email ID</u></th>
              <th ng-click="predict = 'employeeId.location'; reverse = !reverse;"><u>Location</u>
                <span class="glyphicon pull-right {{(predict == 'employeeId.location' && reverse==true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
              </th>
              <th><u>Status</u></th>
              <th><u>Title</u></th>
              <th><u>More</u></th>
            </tr>
            <tbody>
              <tr ng-repeat="obj in personal.personals | orderBy: predict: reverse">
                <td ng-bind="obj.lastName"></td>
                <td ng-bind="obj.firstName"></td>
                <td ng-bind="obj.addressId.email"></td>
                <td ng-bind="obj.employeeId.location.locationName"></td>
                <td>{{obj.employeeId.status && 'Active' || 'In Active'}}</td>
                <td ng-bind="obj.employeeId.jobTitle"></td>
                <!--   <td><a ng-click="personal.fnViewMore(obj)" class="more">More</a></td> -->
                 <td><a ng-click="personal.providerMore(obj,obj.objectName)" class="more">More</a></td> 
            
              </tr>
              <tr>
                <td colspan="7">
                  <div class="col-xs-10">
                    <span ng-class="personal.disabled()?'page-inactive': 'page-active'" ng-click="person.pagination(personal.pageNo,'first')"> FIRST </span>
                    <span ng-class="personal.disabled()?'page-inactive': 'page-active'" ng-click="personal.pagination(personal.pageNo,'prev')"> PREV </span>
                    <input type="text" name="country" value="1" ng-model="personal.pageNo" class="page-number" readonly>
                    <span ng-class="personal.active()?'page-active':'page-inactive'" ng-click="personal.pagination(personal.pageNo,'next')"> NEXT </span>
                    <span ng-class="personal.active()?'page-active':'page-inactive'" ng-click="personal.pagination(personal.pageNo,'last')"> LAST </span>
                  </div>
                 <!--  <div class="col-xs-2 pull-right">
                    <span class="text-show">Show</span>
                    <select class="show-dropdown">
                      <option>10</option>
                      <option>20</option>
                    </select>
                  </div> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>