<div>
  <div class="sub-menu">
  </div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
      <div class="alert alert-danger" ng-show="personal.errorMsg">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>OOPS! </strong> <span ng-bind="personal.errorMsg"></span>
      </div>
      <section>
        <div class="col-xs-12">
          <table class="human-search-section table table-bordered total-stripped">
            <tr>
              <td colspan="7">
                <div class="col-sm-12 padding0">
                  <div class="col-sm-1 padding0 total-items"><span>{{personal.personals[0].total}}</span> items</div>
                  <div class="col-sm-8 padding0">
                    <div class="col-sm-4 serch-section">
                      <input type="serch" placeholder="Search First Name" class="serch-box" ng-model="personal.firstName">
                      <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <div class="col-sm-4 serch-section">
                      <input type="serch" placeholder="Search Last Name" class="serch-box" ng-model="personal.lastName">
                      <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <div class="col-sm-4 serch-section">
                      <input type="serch" placeholder="Search Location" class="serch-box" ng-model="personal.location">
                      <span class="glyphicon glyphicon-search"></span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <span class="text-status">Status:</span>
                    <select class="status-dropdown" ng-change="personal.searchEmployee()" ng-model="personal.status">
                      <option value="">Please Select</option>
                      <option class="text-status" value="true">Active</option>
                      <option class="text-status" value="false">Inactive</option>
                    </select>
                    <span class="text-status add-item pull-right" ng-click="personal.addNew()"><span>+</span> Add New
                    </span>
                  </div>
                </div>
              </td>
            </tr>
            <tr style="background: #000">
              <th ng-click="predict = 'lastName'; reverse = !reverse;">
                <u> Last Name </u>
                <span class="glyphicon pull-right {{(predict == 'lastName' && reverse==true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
              </th>
              <th ng-click="predict = 'firstName'; reverse = !reverse;"><u>First Name</u>
                <span class="glyphicon pull-right {{(predict == 'firstName' && reverse==true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
              </th>
              <th><u>Email ID</u></th>
              <th ng-click="predict = 'employeeId.location'; reverse = !reverse;"><u>Location</u>
                <span class="glyphicon pull-right {{(predict == 'employeeId.location' && reverse==true) && 'glyphicon-triangle-bottom' || 'glyphicon-triangle-top'}}"></span>
              </th>
              <th><u>Status</u></th>
              <th><u>Title</u></th>
              <th><u>More</u></th>
            </tr>
            <tbody>
              <tr ng-repeat="obj in personal.personals | orderBy: predict: reverse">
                <td ng-bind="obj.lastName"></td>
                <td ng-bind="obj.firstName"></td>
                <td ng-bind="obj.addressId.email"></td>
                <td ng-bind="obj.employeeId.location"></td>
                <td ng-bind="obj.employeeId.status"></td>
                <td ng-bind="obj.employeeId.jobTitle"></td>
                <td><a ng-click="personal.fnViewMore(obj)">More</a></td>
              </tr>
              <tr>
                <td colspan="7">
                  <div class="col-xs-10">
                    <span ng-class="personal.disabled()?'page-inactive': 'page-active'" ng-click="person.pagination(personal.pageNo,'first')"> FIRST </span>
                    <span ng-class="personal.disabled()?'page-inactive': 'page-active'" ng-click="personal.pagination(personal.pageNo,'prev')"> PREV </span>
                    <input type="text" name="country" value="1" ng-model="personal.pageNo" class="page-number" readonly>
                    <span ng-class="personal.active()?'page-active':'page-inactive'" ng-click="personal.pagination(personal.pageNo,'next')"> NEXT </span>
                    <span ng-class="personal.active()?'page-active':'page-inactive'" ng-click="personal.pagination(personal.pageNo,'last')"> LAST </span>
                  </div>
                 <!--  <div class="col-xs-2 pull-right">
                    <span class="text-show">Show</span>
                    <select class="show-dropdown">
                      <option>10</option>
                      <option>20</option>
                    </select>
                  </div> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>


    <!-- tab2 -->
    <!-- <form role="tabpanel" class="tab-pane" id="profile">
      <section>
        <div class="container">
          <h2><span class="heading-bottom">Person Details</span></h2>
          <div class="two-col">
            <div class="left-col">
              <div class="row" ng-show="editEmployee">
                <label>PersonID</label>
                <input type="text" name="PersonID" placeholder="Enter Person ID" ng-model="personal.details.person.personID" />
              </div>
              <div class="row">
                <label>LastName</label>
                <input type="text" name="LastName" ng-model="personal.details.person.lastNm" placeholder="Enter Last Name" />
              </div>
              <div class="row">
                <label>FirstName</label>
                <input type="text" ng-model="personal.details.person.firstNm" name="FirstName" placeholder="Enter First Name" />
              </div>
              <div class="row">
                <label>MiddleName</label>
                <input type="text" ng-model="person.details.person.middleNm" name="MiddleName" placeholder="Enter Middle Name" />
              </div>
              <div class="row">
                <label>Birthdate</label>
                <input type="text" name="Birthdate" ng-model="person.details.person.birthDt" class="datepicker" placeholder="YYYY-MM-DD" />
              </div>
              <div class="row radio">
                <label>Gender</label>
                <ul>
                  <li>
                    <input type="radio" id="gender-male" ng-model="person.details.person.gender" name="gender" value="M" checked>
                    <label for="gender-male">Male</label>
                    <div class="check"></div>
                  </li>
                  <li>
                    <input type="radio" id="gender-female" ng-model="person.details.person.gender" name="gender" value="F">
                    <label for="gender-female">Female</label>
                    <div class="check">
                      <div class="inside"></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="row">
                <label>SSN</label>
                <input type="text" name="SSN" ng-model="person.details.person.ssn" placeholder="Enter SSN" />
              </div>
              <div class="row radio">
                <label>IsActive</label>
                <ul>
                  <li>
                    <input type="radio" id="active-yes" ng-model="person.details.person.status" name="active" value="Active" checked>
                    <label for="active-yes">Yes</label>
                    <div class="check"></div>
                  </li>
                  <li>
                    <input type="radio" id="active-no" ng-model="person.details.person.status" name="active" value="InActive">
                    <label for="active-no">No</label>
                    <div class="check">
                      <div class="inside"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="right-col">
              <h3><span class="heading-bottom orange">HomeAddressID</span></h3>
              <div class="row">
                <label>Name</label>
                <input type="text" name="Name" ng-model="person.details.person.address.addressName" placeholder="Enter Name" />
              </div>
              <div class="row">
                <label>Street Address</label>
                <input type="text" name="Street Address" ng-model="person.details.person.address.streetAddress" placeholder="Enter Street Address" />
              </div>
              <div class="row">
                <label>City</label>
                <input type="text" name="City" ng-model="person.details.person.address.city" placeholder="Enter City Name" />
              </div>
              <div class="row">
                <label>State</label>
                <input type="text" name="State" ng-model="person.details.person.address.state" placeholder="Enter State Name" />
              </div>
              <div class="row">
                <label>Country</label>
                <input type="text" name="Country" ng-model="person.details.person.address.country" placeholder="Enter Country Name" />
              </div>
              <div class="row">
                <label>ZIP</label>
                <input type="text" name="ZIP" ng-model="person.details.person.address.zip" placeholder="Enter ZIP Code" />
              </div>
              <div class="row">
                <label>Telephone</label>
                <input type="text" name="Telephone" ng-model="person.details.person.address.phoneNumber" placeholder="Enter Telephone Number" />
              </div>
              <div class="row">
                <label>Fax</label>
                <input type="text" name="Fax" ng-model="person.details.person.address.faxNumber" placeholder="Enter Fax Code" />
              </div>
              <div class="row">
                <label>Email</label>
                <input type="text" name="Email" ng-model="person.details.person.address.emailID" placeholder="Enter Email ID" />
              </div>
            </div>
          </div>
          <h2><span class="heading-bottom">Employee Details</span></h2>
          <div class="two-col">
            <div class="left-col">
              <div class="row" ng-show="editEmployee">
                <label>Employee ID</label>
                <input type="text" name="Employee Id" ng-model="person.details.employeeID" placeholder="Employee ID">
              </div>
              <div class="row">
                <label>Supervisor</label>
                <input type="text" placeholder="supervisor" ng-model="person.details.empType">
              </div>
              <div class="row">
                <label>Job Title</label>
                <input type="text" name="Field" ng-model="person.details.field" placeholder="Enter Job Title" />
              </div>
            </div>
            <div class="right-col">
              <div class="row">
                <input type="file" file-model="EmployeeDoc" multiple/>
                <br> (Supported Types: .pdf /.jpeg /.xls /.doc /.png)
                <br>
                <button ng-click="person.uploadFile('EmployeeDoc', EmployeeDoc)" class="btn btn-sm btn-warning upload-btn"> Upload </button>
              </div>
              <table class="table table-bordered table-stripped" ng-if="person.details.document.length > 0">
                <thead>
                  <tr>
                    <th>File Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="1" ng-repeat="doc in person.details.document">
                    <td>
                      <a ng-click="person.getDoc(doc)" ng-bind="doc.filename"></a>
                    </td>
                    <td><a href="javascript:void(0);" ng-click="person.deleteFile(person.details.document, doc, $index);">Delete</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <label>Are you a provider ?</label>
            <input type="checkbox" ng-model="provider" value="provider">
          </div>
          <div id="physician-details" ng-show="provider">
            <h2><span class="heading-bottom">Provider Details</span></h2>
            <div class="two-col">
              <div class="left-col">
                <div class="row">
                  <label>Specialty</label>
                  <select id="specialty" ng-model="person.details.provider.specialty">
                    <option value="Cardiaology">Cardiaology</option>
                    <option value="Neurology">Neurology</option>
                  </select>
                </div>
                <div class="row">
                  <label>NPI</label>
                  <input type="text" name="NPI" ng-model="person.details.provider.npi" placeholder="Enter NPI Details" />
                </div>
                <div class="row">
                  <label>Taxonomy</label>
                  <input type="text" name="Taxonomy" ng-model="person.details.provider.taxonomy" placeholder="Enter Taxonomy Details" />
                </div>
                <div class="row">
                  <label>Credentials</label>
                  <input type="text" ng-model="person.details.provider.credentials" name="Credentials" placeholder="Enter Credentials" />
                </div>
              </div>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title text-uppercase">
										<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											MedicalLicense
										</a>
									</h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <div class="toggle-content">
                      <div class="two-col">
                        <div class="left-col">
                          <div class="row">
                            <label>State</label>
                            <input type="text" name="State" ng-model="person.details.provider.medlicense.medLicState" placeholder="Enter State" />
                          </div>
                          <div class="row">
                            <label>ExpiryDate</label>
                            <input type="text" name="ExpiryDate" ng-model="person.details.provider.medlicense.medLicExpDate" class="datepicker" placeholder="YYYY-MM-DD" />
                          </div>
                          <div class="row">
                            <label>Number</label>
                            <input type="text" name="Number" ng-model="person.details.provider.medlicense.medLicNumber" placeholder="Enter Number" />
                          </div>
                        </div>
                        <div class="right-col">
                          <h3><span class="heading-bottom orange">File Details</span></h3>
                          <div class="row">
                            <input type="file" file-model="Medlicense" multiple/>
                            <br> (Supported Types: .pdf /.jpeg /.xls /.doc /.png)
                            <br>
                            <button ng-click="person.uploadFile('Medlicense', Medlicense)" class="btn btn-sm btn-warning upload-btn"> Upload </button>
                          </div>
                          <table class="fileupload" ng-if="person.details.provider.medlicense.document.length > 0">
                            <thead>
                              <tr>
                                <th>File Name</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="1" ng-repeat="doc in person.details.provider.medlicense.document">
                                <td>
                                  <a ng-bind="doc.filename" ng-click="person.getDoc(doc)"></a>
                                </td>
                                <td><a href="javascript:;" ng-click="person.deleteFile(person.details.provider.medlicense.document, doc, $index);">Delete</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											DEALicense
										</a>
									</h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="toggle-content">
                      <div class="two-col">
                        <div class="left-col">
                          <h3><span class="heading-bottom orange">DEALicense Address</span></h3>
                          <div class="row">
                            <label>Name</label>
                            <input type="text" name="Name" ng-model="person.details.provider.dealicense.address.addressName" placeholder="Enter Name" />
                          </div>
                          <div class="row">
                            <label>Street Address</label>
                            <input type="text" name="Street Address" ng-model="person.details.provider.dealicense.address.streetAddress" placeholder="Enter Street Address" />
                          </div>
                          <div class="row">
                            <label>City</label>
                            <input type="text" name="City" ng-model="person.details.provider.dealicense.address.city" placeholder="Enter City Name" />
                          </div>
                          <div class="row">
                            <label>State</label>
                            <input type="text" name="State" ng-model="person.details.provider.dealicense.address.state" placeholder="Enter State Name" />
                          </div>
                          <div class="row">
                            <label>Country</label>
                            <input type="text" name="Country" ng-model="person.details.provider.dealicense.address.country" placeholder="Enter Country Name" />
                          </div>
                          <div class="row">
                            <label>ZIP</label>
                            <input type="text" name="ZIP" ng-model="person.details.provider.dealicense.address.zip" placeholder="Enter ZIP Code" />
                          </div>
                          <div class="row">
                            <label>Telephone</label>
                            <input type="text" name="Telephone" ng-model="person.details.provider.dealicense.address.phoneNumber" placeholder="Enter Telephone Number" />
                          </div>
                          <div class="row">
                            <label>Fax</label>
                            <input type="text" name="Fax" ng-model="person.details.provider.dealicense.address.faxNumber" placeholder="Enter Fax Code" />
                          </div>
                          <div class="row">
                            <label>Email</label>
                            <input type="text" name="Email" ng-model="person.details.provider.dealicense.address.emailID" placeholder="Enter Email ID" />
                          </div>
                        </div>
                        <div class="right-col">
                          <div class="row">
                            <label>ExpiryDate</label>
                            <input type="text" name="ExpiryDate" class="datepicker" ng-model="person.details.provider.dealicense.expiryDate" placeholder="YYYY-MM-DD" />
                          </div>
                          <div class="row">
                            <label>Number</label>
                            <input type="text" name="Number" ng-model="person.details.provider.dealicense.telephone" placeholder="Enter Number" />
                          </div>
                          <h3><span class="heading-bottom orange">File Details</span></h3>
                          <div class="row">
                            <input type="file" file-model="Dealicense" multiple/>
                            <br> (Supported Types: .pdf /.jpeg /.xls /.doc /.png)
                            <br>
                            <button ng-click="person.uploadFile('Dealicense', Dealicense)" class="btn btn-sm btn-warning upload-btn"> Upload </button>
                          </div>
                          <table class="fileupload" ng-if="person.details.provider.dealicense.document.length > 0">
                            <thead>
                              <tr>
                                <th>File Name</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="1" ng-repeat="doc in person.details.provider.dealicense.document">
                                <td>
                                  <a ng-bind="doc.filename" ng-click="person.getDoc(doc)"></a>
                                </td>
                                <td><a href="javascript:;" ng-click="person.deleteFile(person.details.provider.dealicense.document, doc, $index);">Delete</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											MalpracticeInsurance
										</a>
									</h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <div class="two-col">
                      <div class="left-col">
                        <h3><span class="heading-bottom orange">MalpracticeInsurance Address</span></h3>
                        <div class="row">
                          <label>Name</label>
                          <input type="text" name="Name" ng-model="person.details.provider.malprctlnce.address.addressName" placeholder="Enter Name" />
                        </div>
                        <div class="row">
                          <label>Street Address</label>
                          <input type="text" name="Street Address" ng-model="person.details.provider.malprctlnce.address.streetAddress" placeholder="Enter Street Address" />
                        </div>
                        <div class="row">
                          <label>City</label>
                          <input type="text" name="City" ng-model="person.details.provider.malprctlnce.address.city" placeholder="Enter City Name" />
                        </div>
                        <div class="row">
                          <label>State</label>
                          <input type="text" name="State" ng-model="person.details.provider.malprctlnce.address.state" placeholder="Enter State Name" />
                        </div>
                        <div class="row">
                          <label>Country</label>
                          <input type="text" name="Country" ng-model="person.details.provider.malprctlnce.address.country" placeholder="Enter Country Name" />
                        </div>
                        <div class="row">
                          <label>ZIP</label>
                          <input type="text" name="ZIP" ng-model="person.details.provider.malprctlnce.address.zip" placeholder="Enter ZIP Code" />
                        </div>
                        <div class="row">
                          <label>Telephone</label>
                          <input type="text" name="Telephone" ng-model="person.details.provider.malprctlnce.address.phoneNumber" placeholder="Enter Telephone Number" />
                        </div>
                        <div class="row">
                          <label>Fax</label>
                          <input type="text" name="Fax" ng-model="person.details.provider.malprctlnce.address.faxNumber" placeholder="Enter Fax Code" />
                        </div>
                        <div class="row">
                          <label>Email</label>
                          <input type="text" name="Email" ng-model="person.details.provider.malprctlnce.address.emailID" placeholder="Enter Email ID" />
                        </div>
                      </div>
                      <div class="right-col">
                        <div class="row">
                          <label>ExpiryDate</label>
                          <input type="text" name="ExpiryDate" ng-model="person.details.provider.malprctlnce.malInsExpiryDate" class="datepicker" placeholder="YYYY-MM-DD" />
                        </div>
                        <div class="row">
                          <label>PolicyNumber</label>
                          <input type="text" name="PolicyNumber" ng-model="person.details.provider.malprctlnce.malInsPolicyNumber" placeholder="Enter PolicyNumber" />
                        </div>
                        <h3><span class="heading-bottom orange">Policy File Details</span></h3>
                        <div class="row">
                          <input type="file" file-model="MalInsPolicyDoc" multiple/>
                          <br> (Supported Types: .pdf /.jpeg /.xls /.doc /.png)
                          <br>
                          <button ng-click="person.uploadFile('MalInsPolicyDoc', MalInsPolicyDoc)" class="btn btn-sm btn-warning upload-btn"> Upload </button>
                        </div>
                        <table class="fileupload" ng-if="person.details.provider.malprctlnce.malInsPolicyDoc.length > 0">
                          <thead>
                            <tr>
                              <th>File Name</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="1" ng-repeat="doc in person.details.provider.malprctlnce.malInsPolicyDoc">
                              <td>
                                <a ng-bind="doc.filename" ng-click="person.getDoc(doc)"></a>
                              </td>
                              <td><a href="javascript:;" ng-click="person.deleteFile(person.details.provider.malprctlnce.malInsPolicyDoc, doc, $index);">Delete</a></td>
                            </tr>
                          </tbody>
                        </table>
                        <h3><span class="heading-bottom orange">FaceSheet File Details</span></h3>
                        <div class="row">
                          <input type="file" file-model="MalInsFaceSheet" multiple/>
                          <br> (Supported Types: .pdf /.jpeg /.xls /.doc /.png)
                          <br>
                          <button ng-click="person.uploadFile('MalInsFaceSheet', MalInsFaceSheet)" class="btn btn-sm btn-warning upload-btn"> Upload </button>
                        </div>
                        <table class="fileupload" ng-if="person.details.provider.malprctlnce.malInsFaceSheet.length > 0">
                          <thead>
                            <tr>
                              <th>File Name</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="1" ng-repeat="doc in person.details.provider.malprctlnce.malInsFaceSheet">
                              <td>
                                <a ng-bind="doc.filename" ng-click="person.getDoc(doc)"></a>
                              </td>
                              <td><a href="javascript:;" ng-click="person.deleteFile(person.details.provider.malprctlnce.malInsFaceSheet, doc, $index);">Delete</a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-center">
              <input type="button" class="gray-button" value="Cancel" ng-click="person.cancel()" />
              <input type="button" class="orange-button" value="Add" ng-show="!person.editEmployee" ng-click="person.addPerson(person)" />
              <input type="button" ng-show="person.editEmployee" class="orange-button" value="Update" ng-click="person.upDateUser(person)" />
            </div>
          </div>
        </div>
      </section>
    </form> -->
  </div>
</div>
