<section>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Dashboard">
        <md-content class="md-padding">
          <div class="tabs">
            <div class="tab-body">
              <div id="staff" style="display:block;">
                <div class="four-col row">
                  <div class="operations">
                    <div class="title"> OPERATIONS </div>
                    <div class="body">
                      <div class="col-xs-5 symbol">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      </div>
                      <div class="col-xs-7 text">
                        <div>Due 30 Days:8</div>
                        <div>Due 7 Days:2</div>
                        <div>Past Due:1</div>
                      </div>
                    </div>
                  </div>
                  <div class="personnel">
                    <div class="title">PERSONNEL</div>
                    <div class="body">
                      <div class="col-xs-5 symbol">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                      </div>
                      <div class="col-xs-7 text">
                        <div>Due 30 Days:{{status.personalData.thirtyDayDue}}</div>
                        <div>Due 7 Days:{{status.personalData.sevenDayDue}}</div>
                        <div>Past Due:{{status.personalData.pastDue}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="administration">
                    <div class="title">ADMINISTRATION</div>
                    <div class="body">
                      <div class="col-xs-5 symbol">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      </div>
                      <div class="col-xs-7 text">
                        <div>Due 30 Days:{{thirtyDayDue}}</div>
                        <div>Due 7 Days:{{sevenDayDue}}</div>
                        <div>Past Due:{{pastDue}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="staff-status-dashboard" class="row status-dashboard">
                  <ul>
                    <li ng-click="status.statusSelected('OPERATIONS')" ng-class="{'selected-tab':status.isActive('OPERATIONS')}" class="select-tabs">OPERATIONS</li>
                    <li ng-click="status.statusSelected('PERSONNEL')" ng-class="{'selected-tab':status.isActive('PERSONNEL')}" class="select-tabs">PERSONNEL</li>
                    <li ng-click="status.statusSelected('ADMINISTRATION')" ng-class="{'selected-tab':status.isActive('ADMINISTRATION')}" class="select-tabs">ADMINISTRATION</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered table-stripped users-table">
            <thead>
              <tr class="heading">
                <td colspan="7">
                  <div class="col-sm-12 padding0">
                    <div class="col-sm-10 padding0 total-items"><span>{{admin.users.length}}</span> items</div>
                    <div class="col-sm-2">
                      <span class="text-status">Status:</span>
                      <select class="status-dropdown">
                        <option class="text-status">All</option>
                        <option class="text-status">Active</option>
                        <option class="text-status">Inactive</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>Name</th>
                <th>Event/Object</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>More</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="obj in status.personalData.statusDTOList">
                <td ng-bind="obj.objectName"></td>
                <td ng-bind="obj.objectEvent"></td>
                <td>{{obj.expiryDate  | date:'medium'}}</td>
                <td>{{obj.status}}</td>
                <td ng-click="status.providerMore(obj.licenseDTO, obj.objectValue)"><strong><a>More</a></strong></td>
              </tr>
            </tbody>
          </table>
        </md-content>
      </md-tab>
      <md-tab label="Reports">
        <md-content class="md-padding">
          <h1 class="md-display-2">Reports Two</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="Tab Three">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</section>