<div layout="column" ng-cloak class="md-inline-form user-detail-view">
  <md-content layout-padding>
    <div class="container" style="width:70%; margin: 0 auto; background: #fff;">
      <h5 style="color: #4CAF50;">USER</h5>
      <br>
      <form name="userForm">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="user.userDetailsObj.lastName" ng-readonly="user.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input ng-model="user.userDetailsObj.firstName" ng-readonly="user.viewmode">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>User Name</label>
            <input ng-model="user.userDetailsObj.userName" ng-readonly="user.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-model="user.userDetailsObj.email" ng-readonly="user.viewmode">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="user.userDetailsObj.password" ng-readonly="user.viewmode">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input type="password" ng-model="user.userDetailsObj.confirmPassword" ng-readonly="user.viewmode">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>phone</label>
            <input ng-model="user.userDetailsObj.phone" ng-readonly="user.viewmode">
          </md-input-container>
          <md-input-container lass="md-block" flex-gt-sm>
            <label>Role</label>
            <md-select ng-model="user.userDetailsObj.role" ng-disabled="user.viewmode">
              <md-option ng-repeat="role in user.roles" value="{{role.role}}" ng-readonly="user.viewmode">{{role.role}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Notes</label>
          <textarea ng-model="user.userDetailsObj.notes" rows="4" ng-readonly="user.viewmode"></textarea>
        </md-input-container>
        <div flex layout='row' layout-padding layout-align="start center" style="    height: 30px;">
          <div>Status</div>
          <md-radio-group ng-model="user.userDetailsObj.status" ng-readonly="user.viewmode">
            <md-radio-button ng-value="true">Active</md-radio-button>
            <md-radio-button ng-value="false"> In active </md-radio-button>
          </md-radio-group>
        </div>
      </form>
      <div style="border-bottom: 2px dotted #ccc; margin-top: 25px;margin-bottom: 30px;"></div>
      <div>
        <h5 style="border-bottom: 1px solid #ccc; color: #4CAF50;">ATTACHMENTS/REMAINDERS</h5>
        <form name="userForm" class="attachment-form" ng-show="user.attachmentCreateViewmode">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Short Description</label>
              <input ng-model="user.fileuploadObject.shortdescription" ng-required="true">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Notes</label>
              <textarea ng-model="user.fileuploadObject.notes" rows="3" md-select-on-focus></textarea>
            </md-input-container>
          </div>
          <br>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Expiry / Due Date</label>
              <md-datepicker ng-model="user.fileuploadObject.expiry" md-placeholder="Enter date"></md-datepicker>
            </md-input-container>
            <div flex layout='row' layout-padding layout-align="start center" style="height: 30px;">
              <div>Track Expiry / Due Date</div>
              <md-radio-group ng-model="user.fileuploadObject.trackExpiry" ng-readonly="userDetailsObj.viewmode">
                <md-radio-button ng-value="true">Yes</md-radio-button>
                <md-radio-button ng-value="false">No</md-radio-button>
              </md-radio-group>
            </div>
          </div>
          <div layout-gt-sm="row">
            <input type="file" name="uploadingFiles" onchange="angular.element(this).scope().uploadFile(this.files)"/>
          </div>
          <div class="text-right">
            <md-button class="md-raised md-primary" ng-click="user.createAttachment()">Save</md-button>
            <md-button class="md-raised" ng-click="user.hideAttachmentCreate()">Cancel</md-button>
          </div>
        </form>
        <p ng-show="!user.viewmode">
          <md-button class="md-raised md-cornered" ng-click="user.showAttachmentCreate()">Add New</md-button>
        </p>
        <table class="table" data-ng-show="user.userDetailsObj.documents.length>0">
          <tr>
            <td>Id</td>
            <td>Date Created</td>
            <td>Description</td>
            <td>Action</td>
          </tr>
          <tr ng-repeat="doc in user.userDetailsObj.documents">
            <td ng-bind="doc.documentId"></td>
            <td ng-bind="doc.createdOn | date : format : timezone"></td>
            <td ng-bind="doc.description"></td>
            <td><a target="_blank" ng-href="{{doc.documentUrl}}">View</a></td>
          </tr>
        </table>
      </div>
      <hr/>
      <div class="text-right">
        <md-button class="md-raised md-primary" ng-click="user.editBtnClick()" ng-show="user.viewmode">Edit</md-button>
        <md-button ng-show="!user.viewmode" class="md-raised md-primary" ng-click="user.saveBtnClick()">Save</md-button>
        <md-button class="md-raised" ng-click="user.cancelBtnclick()">Cancel</md-button>
      </div>
    </div>
  </md-content>
</div>
